*{
    padding: 0;
    margin:0;
}
body {
    font-family: serif;
}
a {
    text-decoration: none;
    font-family: serif;
}

#toggles {
    display: flex;
    align-items: center;
    background-color:lightslategray;

}

#logo{
    width: 100px;
    height: 100%;
}


#list{
    list-style: none;
}
#list li{
display: inline;
}
#list li a{
   padding: 50px;
   font-size: 50px;
    }


.navBar {
    margin: 0px 200px 0px 0px;
    height: 100%;
}

.navbar{
    color: black;
}

.content{
   font-size: 10px; 
   background-color: lightslategrey;
}
.picture{
    width: 280px;
    height:280px
}

#cards{
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
}

.card{
    width:280px ;
}
.end{
    display: flex;
    justify-content: space-between;
    
}
.dermatologist{
    text-align: center;
    background-color: lightslategrey
}


    
.rating {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
  
    }
    
    .rating > input{
     display:none;
    }
    
    .rating > label {
    position: relative;
    width: 1.1em;
    font-size: 5;/*change*/
    color: #FFD700;
    cursor: pointer;
    }
    
    .rating > label::before{
    content: "\2605";
    position: absolute;
    opacity: 0;
    }
    
    .rating > label:hover:before,
    .rating > label:hover ~ label:before {
    opacity: 1 !important;
    }
    
    .rating > input:checked ~ label:before{
    opacity:1;
    }
    
    .rating:hover > input:checked ~ label:before{ 
    opacity: 0.4;
     }

 
#first{
    width: 199px;
   }
   
   #last{
       width: 200px;
   }
   #number{
       width: 173px;
   }
   #symptoms{
       width: 201px;
   }
   #doctor{
       width: 225px;
   }
   #date{
       width: 195px;
   }

   #content{
    display: block;
    margin-left: 260px;
    margin-top: 50px;
   }
   #content div {
    margin: 7px;
   }