*{
    padding: 0;
    margin:0;
}
body {
    font-family: serif;
    
}
a {
    text-decoration: none;
    font-family: serif;
}


#toggles {
    display: flex;
    align-items: center;
    background-color:lightslategray;
    border-bottom: 2px solid black;

}


.navBar {
    margin: 0px 200px 0px 0px;
    height: 100%;
}

.navbar{
    color: black;
}
.logo{
    width: 100px;
    height: 100px
}


#list{
    list-style: none;
    margin-left: 200px;
}
#list li{
display: inline;
}
#list li a{
   padding: 50px;
   font-size: 50px;
    }

#phone{
    display: none;
}

#container{
    display: none;
}
@media (max-width:415px) {
    #phone{
        display: block;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: lightslategray;
        font-size: 50px;
        width: 414px;
    }
    #logo1{
        width: 70px;
        height: 70px;
    }

    #toggles{
        display: none;
    }
    #row1{
        display: flex;
        width: 414px;
        align-items: center;
        border:solid;
    }
   

    .link{
        width: 344px;
        border-bottom-style: solid;
        border-left-style: solid;
        border-right-style: solid;
    }
    .space{
        width: 70px;
        background-color: white;
    }
    .partition{
        display: flex;
        width: 414px;
    }
    
}
#Quiz{
    color: #63A9BB;
    margin-right: 250px;
}



#image{
    width: 40%;
}
h1{
    display:flex;
    justify-content: center;
    font-size:250%;
}
#buttons{
    display:flex;
    justify-content: center;
    align-items: center;
    
}
#buttons p{
    display: flex;
    background-color: #63A9BB;
    border: solid black;
    margin-right: 25px;
    margin-left: 25px;
    padding: 5px;
    border-radius: 12px;
}

#next{
    background-color: gray;
    border: solid black;
    margin-right: 25px;
    margin-left: 25px;
    padding: 5px;
    border-radius: 12px;
}

#quizGame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#incorrect{
    font-size: 50px;
    color:#1C2C35;
}

#finish{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    height: 387px;
    background-color: #63A9BB;
}


#endQuiz{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
#testMonkey{
    display: none;
    
}


@media(max-width:415px){
    #finish{
        background-color: white;
    }
    #mainNavBar{
display: flex;
flex-direction: column;
align-items: center;
    }
    .navbar{
        margin-right: 0px;
    }
.skinContainer{
display: flex;
flex-direction: column;
}
.header{
    border-right: none;
    border-bottom: solid orange;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
#Quiz{
    margin-right: 0;
    padding: 0;
}
#h1{
    font-size: 5px;
}
#image{
    width: 500px;
    height: 200px;
    border: solid #63A9BB;
    padding: 2px;
}
#buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#buttons p {
    display: flex;
    justify-content: center;
    margin: 5px 0px 5px 0px;
    width: 380px;
    text-align: center;
}
#next{
    width: 380px;
    display: flex;
    justify-content: center;
}
#question{
font-size: 30px;
}
#endQuiz{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}
}

footer{
    display: flex;
    justify-content: flex-end;
}

