body{
    background-color:  #2C5763;
}

*{
    margin: 0;
    padding: 0;
}


#mainNavBar{
    display: flex;
    justify-content:space-between;
    font-family:fantasy;
    background-color:#1C2C35;
    border: 10px;
    border-style: groove;
    border-color: orange;
    color:rgb(255, 255, 255);
    font-size: 75px;
    padding: 10px;
    
    
}
.navbar:hover{
    background-color: gray;
    opacity: 0.5;
}
#logo{
    width: 100px;
}
a{
    text-decoration: none;
}
#Quiz{
    color: #63A9BB;
    margin-right: 250px;
}
.navbar{
    text-decoration: none;
    color: white;
    margin-right: 250px;
}



#image{
    width: 40%;
}
h1{
    display:flex;
    justify-content: center;
    font-size:250%;
}
#buttons{
    display:flex;
    justify-content: center;
    
}
#buttons p{
    display: flex;
    background-color: orange;
    border: solid black;
    margin-right: 25px;
    margin-left: 25px;
    padding: 5px;
    border-radius: 12px;
}
#quizGame{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

#incorrect{
    font-size: 50px;
    color:#1C2C35;
}

#finish{
    font-size: 50px;
}


#endQuiz{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}
#testMonkey{
    display: none;
}

@media(max-width:415px){
    #mainNavBar{
display: flex;
flex-direction: column;
align-items: center;
    }
    .navbar{
        margin-right: 0px;
    }
.skinContainer{
display: flex;
flex-direction: column;
}
.header{
    border-right: none;
    border-bottom: solid orange;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
#Quiz{
    margin-right: 0;
    padding: 0;
}
#h1{
    font-size: 5px;
}
#image{
    width: 95%;
    border: solid orange;
    padding: 2px;
}
#buttons{
    display: flex;
    flex-direction: column;
}
#buttons p {
    margin: 5px 0px 5px 0px;
    text-align: center;
}
#question{
font-size: 60px;
}
#endQuiz{
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}
}
