body{
    background-color:  #2C5763;
}
#title{
    font-size: 40px;
    color: orange;
    margin: 10px;
}

.header{
    color: black;
}
.infor{
    color: white;
}
*{
    margin: 0;
    padding: 0;
}
.navbar{
    text-decoration: none;
    color: white;
    margin-right: 250px;
}
a{
    text-decoration: none;
}

#home{
    color:#63A9BB ;
    margin-right: 250px;
}

#mainNavBar{
    display: flex;
    justify-content:space-between;
    font-family:fantasy;
    background-color: #1C2C35;
    border: 10px;
    border-style: groove;
    border-color: orange;
    color:white;
    font-size: 75px;
    padding: 10px;
    
}
.navbar:hover{
    background-color: gray;
    opacity: 0.5;
}
#logo{
    width: 100px;
}
.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
    border-right: solid orange; 
    margin-top: 0px;
    padding-right: 10px;
    margin-bottom: 0px;
}
.infor{
    font-size: 100%;
}

.skinContainer{
    display: flex;
    align-items: center;
    margin:10px;
    padding: 10px;
    border: solid orange
}

.skinImg {
    width:80%;
}

@media(max-width:415px){
    #mainNavBar{
display: flex;
flex-direction: column;
align-items: center;
    }
    .navbar{
        margin-right: 0px;
    }
    #home{
        margin-right: 0px;
    }
.skinContainer{
display: flex;
flex-direction: column;
}
.header{
    border-right: none;
    border-bottom: solid orange;
    margin-bottom: 10px;
    padding-bottom: 10px;
}
}